In [2]:
from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [3]:
# how page ook like
page = page.content

In [4]:
soup = BeautifulSoup(page)

In [5]:
prettify = soup.prettify()

# 1. Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

In [22]:
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [23]:
page = requests.get('http://www.imdb.com/chart/top')
page

In [73]:
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [74]:
tag = soup.find_all('td',class_ = 'titleColumn')

Name = []
for i in tag:
    for j in i.find_all('a',href = True):
        Name.append(j.text)
print(len(Name))

250

In [75]:
years = soup.find_all('span',class_='secondaryInfo')
year_of_release = []
for i in years:
    year_of_release.append(i.text)
print(len(year_of_release))

250

In [76]:
Ratings = soup.find_all('strong')

rating = []
for i in Ratings:
    rating.append(i.text)
    
print(len(rating))

250

In [77]:
import pandas as pd
IMDB_Top_rated_100_movie = pd.DataFrame({'Name':Name,
                            'Ratings':rating,
                            'year of release':year_of_release})
IMDB_Top_rated_100_movie.head(100)

                                     Name Ratings year of release
0                The Shawshank Redemption     9.2          (1994)
1                           The Godfather     9.1          (1972)
2                  The Godfather: Part II     9.0          (1974)
3                         The Dark Knight     9.0          (2008)
4                            12 Angry Men     8.9          (1957)
..                                    ...     ...             ...
95                                 Jagten     8.3          (2012)
96                    Requiem for a Dream     8.3          (2000)
97                    Singin' in the Rain     8.3          (1952)
98                     North by Northwest     8.3          (1959)
99  Eternal Sunshine of the Spotless Mind     8.3          (2004)

[100 rows x 3 columns]

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [3]:
url2 = 'https://www.imdb.com/india/top-rated-indian-movies/?ref_=ib_g_in_g_gg_kwd-921342028227_cr'
response2 = requests.get(url2)
soup2 = BeautifulSoup(response2.text, 'lxml')

In [4]:
indian_movies = soup2.find_all('div',class_ = 'lister')

In [5]:
tag2 = soup2.find_all('td',class_ = 'titleColumn')

In [48]:
Name = []

for i in tag2:
    for j in i.find_all('a',href = True):
        Name.append(j.text)

len(Name)

In [51]:
tag_n = soup2.find_all('td',class_='ratingColumn imdbRating')
Ratings = soup2.find_all('strong')

rating = []
for i in Ratings:
    rating.append(i.text)

len(rating)

In [53]:
years = soup2.find_all('span',class_='secondaryInfo')

year_of_release = []
for i in years:
    year_of_release.append(i.text)
    
len(years)

In [62]:
import pandas as pd
IMDB_Top_rated_100_indian_movie = pd.DataFrame({'Name':Name,
                            'Ratings':rating,
                            'year of release':year_of_release})
IMDB_Top_rated_100_indian_movie.head(100)

                                 Name Ratings year of release
0                             Nayakan     8.5          (1987)
1                          Anbe Sivam     8.5          (2003)
2                   Pariyerum Perumal     8.5          (2018)
3                   C/o Kancharapalem     8.5          (2018)
4                             Golmaal     8.5          (1979)
..                                ...     ...             ...
95                    Rang De Basanti     8.1          (2006)
96                    OMG: Oh My God!     8.1          (2012)
97                               Roja     8.1          (1992)
98           Uri: The Surgical Strike     8.1          (2019)
99  Lagaan: Once Upon a Time in India     8.1          (2001)

[100 rows x 3 columns]

# 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from‘www.bookpage.com’

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://bookpage.com/reviews/26605-helen-hoang-heart-principle-romance#.YVKtnzFBxPY'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [3]:
Book_name = []
Author_name = []
Genre = []
Book_review =[]

BOOK - 1

In [4]:
book1 = soup.find_all('h1',class_='italic')
for i in book1:
    Book_name.append(i.text.replace('\n',''))
    
author1 = soup.find_all("h4",class_='sans')
for i in author1:
    Author_name.append(i.text.replace('\n',''))
    
review1 = soup.find_all('p',class_='sans bold author-info')
for i in review1:
    Book_review.append(i.text.replace('\n',''))

genre1 = soup.find_all('p',class_='genre-links')
for i in genre1:
    Genre.append(i.text.replace('\n',''))

BOOK - 2

In [5]:
url2 = 'https://bookpage.com/reviews/26633-penny-aimes-love-april-french-romance#.YVKytDFBxPY'
response2 = requests.get(url2)
soup2 = BeautifulSoup(response2.text, 'lxml')

In [6]:

book2 = soup2.find_all('h1',class_='italic')
for i in book2:
    Book_name.append(i.text.replace('\n',''))
    
author2 = soup2.find_all("h4",class_='sans')
for i in author2:
    Author_name.append(i.text.replace('\n',''))
    
review2 = soup2.find_all('p',class_='sans bold author-info')
for i in review2:
    Book_review.append(i.text.replace('\n',''))

genre2 = soup2.find_all('p',class_='genre-links')
for i in genre2:
    Genre.append(i.text.replace('\n',''))

BOOK - 3

In [7]:
url3 = 'https://bookpage.com/reviews/26660-anthony-doerr-cloud-cuckoo-land-fiction#.YVKzfzFBxPY'
response3 = requests.get(url3)
soup3 = BeautifulSoup(response3.text, 'lxml')

In [8]:
book3 = soup3.find_all('h1',class_='italic')
for i in book3:
    Book_name.append(i.text.replace('\n',''))
    
author3 = soup3.find_all("h4",class_='sans')
for i in author3:
    Author_name.append(i.text.replace('\n',''))
    
review3 = soup3.find_all('p',class_='sans bold author-info')
for i in review3:
    Book_review.append(i.text.replace('\n',''))

genre3 = soup3.find_all('p',class_='genre-links')
for i in genre3:
    Genre.append(i.text.replace('\n',''))

BOOK - 4

In [9]:
url4 = 'https://bookpage.com/reviews/26715-craig-johnson-daughter-morning-star-mystery-suspense#.YVK0QzFBxPY'
response4 = requests.get(url4)
soup4 = BeautifulSoup(response4.text, 'lxml')

In [10]:
book4 = soup4.find_all('h1',class_='italic')
for i in book4:
    Book_name.append(i.text.replace('\n',''))
    
author4 = soup4.find_all("h4",class_='sans')
for i in author4:
    Author_name.append(i.text.replace('\n',''))
    
review4 = soup4.find_all('p',class_='sans bold author-info')
for i in review4:
    Book_review.append(i.text.replace('\n',''))

genre4 = soup4.find_all('p',class_='genre-links')
for i in genre4:
    Genre.append(i.text.replace('\n',''))

BOOK - 5

In [11]:
url5 = 'https://bookpage.com/reviews/26686-christina-henry-horseman-science-fiction-fantasy'
response5 = requests.get(url5)
soup5 = BeautifulSoup(response5.text, 'lxml')

In [12]:
book5 = soup5.find_all('h1',class_='italic')
for i in book5:
    Book_name.append(i.text.replace('\n',''))
    
author5 = soup5.find_all("h4",class_='sans')
for i in author5:
    Author_name.append(i.text.replace('\n',''))
    
review5 = soup5.find_all('p',class_='sans bold author-info')
for i in review5:
    Book_review.append(i.text.replace('\n',''))

genre5 = soup5.find_all('p',class_='genre-links')
for i in genre5:
    Genre.append(i.text.replace('\n',''))

In [13]:
import pandas as pd
books = pd.DataFrame({'Book Name':Book_name,
                     'Author Name':Author_name,
                     'Book Review':Book_review,
                     'Genre':Genre})
books

,Book Name,Author Name,Book Review,Genre
0,★ The Heart Principle,Helen Hoang,Review byAmanda Diehl,Romance / Contemporary Romance
1,★ For the Love of April French,Penny Aimes,Review byAmanda Diehl,Romance / Contemporary Romance
2,★ Cloud Cuckoo Land,Anthony Doerr,Review bySarah McCraw Crow,Fiction / Literary Fiction
3,Daughter of the Morning Star,Craig Johnson,Review byG. Robert Frazier,Mystery & Suspense / Mystery
4,Horseman,Christina Henry,Review byStephanie Cohen-Perez,Science Fiction & Fantasy / Fantasy / Historic...

# 5. Write a python program to scrape cricket rankings from icc-cricket.

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [2]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [43]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [44]:
mens_odi = soup.find_all('span',class_ = 'u-hide-phablet')

In [45]:
odi_teams = []
for i in mens_odi:
    odi_teams.append(i.text)

print(len(odi_teams))

20

In [46]:
match_points = []
for k in soup.find_all('td',class_='rankings-block__banner--matches'):
    match_points.append(k.text)
for n in soup.find_all('td',class_='rankings-block__banner--points'):
    match_points.append(n.text)

for s in soup.find_all('td','table-body__cell u-center-text'):
        match_points.append(s.text)

In [47]:
len(match_points)

40

In [48]:
matches = []
points = []
for i in range(0,len(match_points)):
    if i%2:
        matches.append(match_points[i])
    else:
        points.append(match_points[i])
print(len(matches))
print(len(points))

20
20

In [49]:
Rating = []

rating = soup.find_all('td',class_ = 'rankings-block__banner--rating u-text-right')
rating2 = soup.find_all('td',class_ = 'table-body__cell u-text-right rating')

for i in rating:
    Rating.append(i.text.split())

for i in rating2:
    Rating.append(i.text)
    
len(Rating)

20

In [51]:
import pandas as pd
ODI_teams_in_men_cricket = pd.DataFrame({'ODI_teams':odi_teams,
                                        'Matches':matches,
                                        'Points':points,
                                        'Rating':Rating})
ODI_teams_in_men_cricket.head(10)

      ODI_teams Matches Points Rating
0   New Zealand   2,054     17  [121]
1       England   3,793     32    119
2     Australia   3,244     28    116
3         India   3,624     32    113
4  South Africa   2,459     25     98
5      Pakistan   2,524     27     93
6    Bangladesh   2,740     30     91
7   West Indies   2,523     30     84
8     Sri Lanka   2,657     32     83
9   Afghanistan   1,054     17     62

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [45]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [46]:
Batsman = []

bats_man = soup.find_all('div',class_ = 'rankings-block__banner--name-large')
bats_man2 = soup.find_all("td",class_='table-body__cell rankings-table__name name')

for i in bats_man:
    Batsman.append(i.text)

for i in bats_man2:
    if i == 'Quinton de Kock':
        break
    Batsman.append(i.text.replace('\n',''))
    
len(Batsman)

100

In [47]:
Team= []
team = soup.find_all('div',class_ = 'rankings-block__banner--nationality')
team2 = soup.find_all('span',class_ = 'table-body__logo-text')

for i in team:
    Team.append(i.text.replace('\n',''))

for i in team2:
    Team.append(i.text)
    
len(Team)

In [48]:
Rating= []

rating = soup.find_all('div',class_ = 'rankings-block__banner--rating')
rating2 = soup.find_all('td',class_ = 'table-body__cell rating')

for i in rating:
    Rating.append(i.text)

for i in rating2:
    Rating.append(i.text)

len(Rating)

In [52]:
import pandas as pd
ODI_batsman_in_men = pd.DataFrame({'Batsman':Batsman,
                                        'Team':Team,
                                        'Rating':Rating})
ODI_batsman_in_men.head(10)

            Batsman                     Team Rating
0        Babar Azam  PAK                        873
1       Virat Kohli                      IND    844
2      Rohit Sharma                      IND    813
3       Ross Taylor                       NZ    801
4       Aaron Finch                      AUS    779
5    Jonny Bairstow                      ENG    775
6      David Warner                      AUS    762
7         Shai Hope                       WI    758
8   Kane Williamson                       NZ    754
9   Quinton de Kock                       SA    747
10     Fakhar Zaman                      PAK    741

iii) Top 10 ODI bowlers along with the records of their team andrating.

In [53]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [57]:
Bowlers_name = []

bowler = soup.find_all('div',class_ = 'rankings-block__banner--name-large')
bowler2 = soup.find_all("td",class_='table-body__cell rankings-table__name name')

for i in bowler:
    Bowlers_name.append(i.text)

for i in bats_man2:
    Bowlers_name.append(i.text.replace('\n',''))
    
len(Bowlers_name)

100

In [92]:
Team = []

team = soup.find_all("div",class_='rankings-block__banner--nationality')
team2 = soup.find_all("span",class_='table-body__logo-text')

for i in team:
    Team.append(i.text.replace('\n',''))

for i in team2:
    Team.append(i.text)
    
len(Team)

100

In [64]:
Rating= []

rating = soup.find_all('div',class_ = 'rankings-block__banner--rating')
rating2 = soup.find_all('td',class_ = 'table-body__cell rating')

for i in rating:
    Rating.append(i.text)

for i in rating2:
    Rating.append(i.text)
    
len(Rating)

100

In [93]:
import pandas as pd
ODI_Bowlers_in_men = pd.DataFrame({'Bowlers Name':Bowlers_name,
                                        'Team':Team,
                                        'Rating':Rating})
ODI_Bowlers_in_men.head(10)

       Bowlers Name                    Team Rating
0       Trent Boult  NZ                        737
1       Virat Kohli                     AUS    709
2      Rohit Sharma                     AFG    708
3       Ross Taylor                     ENG    700
4       Aaron Finch                     BAN    692
5    Jonny Bairstow                      NZ    691
6      David Warner                     IND    679
7         Shai Hope                     AUS    652
8   Kane Williamson                     BAN    650
9   Quinton de Kock                      SA    646
10     Fakhar Zaman                     BAN    640

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’.

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [25]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [26]:
women_team = []

women_block = soup.find_all('tr',class_='rankings-block__banner')
women_block2 = soup.find_all('td',class_='table-body__cell rankings-table__team')

for i in women_block:
    for j in i.find_all('td',class_='rankings-block__banner--team-name'):
        for n in j.find_all("span",class_='u-hide-phablet'):
            women_team.append(n.text)
            
for i in women_block2:
    for j in i.find_all('span',class_='u-hide-phablet'):
        women_team.append(j.text)
        
len(women_team)

10

In [27]:
match_points = []
matches = []
points = []

for k in soup.find_all('td',class_='rankings-block__banner--matches'):
    match_points.append(k.text)
for n in soup.find_all('td',class_='rankings-block__banner--points'):
    match_points.append(n.text)

for s in soup.find_all('td','table-body__cell u-center-text'):
        match_points.append(s.text)

for i in range(0,len(match_points)):
    if i%2:
        matches.append(match_points[i])
    else:
        points.append(match_points[i])
print(len(matches))
print(len(points))

10
10

In [28]:
Rating = []
rating = soup.find_all('td',class_ = 'rankings-block__banner--rating u-text-right')
for i in rating:
    Rating.append(i.text.split())
rating2 = soup.find_all('td',class_ = 'table-body__cell u-text-right rating')
for i in rating2:
    Rating.append(i.text)
len(Rating)

10

In [29]:
import pandas as pd
ODI_teams_in_women_cricket = pd.DataFrame({'ODI_teams':women_team,
                                        'Matches':matches,
                                        'Points':points,
                                        'Rating':Rating})
ODI_teams_in_women_cricket

      ODI_teams Matches Points Rating
0     Australia   3,304     20  [165]
1       England   2,840     24    118
2  South Africa   3,390     29    117
3         India   2,735     25    109
4   New Zealand   2,324     25     93
5   West Indies   1,872     22     85
6      Pakistan   1,496     20     75
7    Bangladesh     306      5     61
8     Sri Lanka     519     11     47
9       Ireland      25      2     13

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [10]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [11]:
women_odi_player = []

player = soup.find_all('div',class_='u-flex-center u-text-left')
player2 = soup.find_all("td",class_='table-body__cell rankings-table__name name')

for i in player:
    for j in i.find_all("div",class_='rankings-block__banner--name-large'):
        women_odi_player.append(i.text.replace('\n',''))
        
for i in player2:
    for j in i.find_all("a",href = True):
        if j.text:
            women_odi_player.append(j.text)
len(women_odi_player)

100

In [12]:
Rating = []

rating = soup.find_all('div',class_ = 'rankings-block__banner--rating')
rating2 = soup.find_all('td',class_='table-body__cell rating')

for i in rating:
    Rating.append(i.text)
    

for i in rating2:
    Rating.append(i.text)
    
len(Rating)

100

In [13]:
Team = []

team = soup.find_all('div',class_='rankings-block__banner--nationality')
team2 = soup.find_all('span',class_='table-body__logo-text')
for i in team:
    Team.append(i.text.strip())
for z in team2:
    Team.append(z.text)
    
len(Team)

100

In [15]:
import pandas as pd

women_odi_players = pd.DataFrame({'Players':women_odi_player,
                                        'Team':Team,
                                        'Rating':Rating})
women_odi_players.head(10)

             Players Team Rating
0        Mithali Raj  IND    762
1        Lizelle Lee   SA    761
2       Alyssa Healy  AUS    756
3     Tammy Beaumont  ENG    740
4  Amy Satterthwaite   NZ    726
5        Meg Lanning  AUS    723
6    Smriti Mandhana  IND    701
7       Ellyse Perry  AUS    679
8    Laura Wolvaardt   SA    672
9     Natalie Sciver  ENG    672

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [64]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [65]:
women_odi_Ollrounder = []

player = soup.find_all('div',class_='rankings-block__banner--name-large')
player2 = soup.find_all("td",class_='table-body__cell rankings-table__name name')

for i in player:
    women_odi_Ollrounder.append(i.text)
        
for i in player2:
    for j in i.find_all("a",href = True):
        if j.text:
            women_odi_Ollrounder.append(j.text)
len(women_odi_Ollrounder)

20

In [66]:
Team = []

team = soup.find_all('div',class_='rankings-block__banner--nationality')
team2 = soup.find_all('span',class_='table-body__logo-text')
for i in team:
    Team.append(i.text.strip())
for z in team2:
    Team.append(z.text)
    
len(Team)

20

In [67]:
Rating = []

rating = soup.find_all('div',class_ = 'rankings-block__banner--rating')
rating2 = soup.find_all('td',class_='table-body__cell rating')

for i in rating:
    Rating.append(i.text)
    
for i in rating2:
    Rating.append(i.text)
    
len(Rating)

20

In [69]:
import pandas as pd

womens_ODI_Allrounder = pd.DataFrame({'Players':women_odi_Ollrounder,
                                        'Team':Team,
                                        'Rating':Rating})
womens_ODI_Allrounder.head(10)

            Players Team Rating
0      Ellyse Perry  AUS    418
1    Marizanne Kapp   SA    384
2    Natalie Sciver  ENG    380
3     Deepti Sharma  IND    331
4   Stafanie Taylor   WI    322
5     Jess Jonassen  AUS    307
6  Dane van Niekerk   SA    274
7     Sophie Devine   NZ    254
8   Katherine Brunt  ENG    254
9  Ashleigh Gardner  AUS    252

# 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
url = 'https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YVL34TFBxPa'
request = requests.get(url)
print(request)
page = request.content
soup = BeautifulSoup(page)
prettify = soup.prettify()

<Response [200]>

In [5]:
Period = []
short_description = []
tempurature = []
description = []
low = []
high = []

In [6]:
period = soup.find_all('p',class_='period-name')
for i in period:
    Period.append(i.text)
    
short_d = soup.find_all('p',class_='short-desc')
for i in short_d:
    short_description.append(i.text)

temp_low = soup.find_all('p',class_='temp temp-low')
temp_high = soup.find_all('p',class_='temp temp-high')
for i in temp_low:
    low.append(i.text)
for z in temp_high:
    high.append(z.text)
    
temperature = [None]*(len(low)+len(high))
temperature[::2] = high
temperature[1::2] = low

In [7]:
print(len(Period))
print(len(short_description))
print(len(temperature))

9
9
9

In [8]:
detail= []
desc_ = soup.find_all('div',class_='col-sm-10 forecast-text')
for i in desc_:
    detail.append(i.text)

In [9]:
print(len(detail))

13

In [10]:
import pandas as pd
df = pd.DataFrame(detail)
n = 4
df.drop(df.tail(n).index,
        inplace = True)

In [11]:
print(len(df))

9

In [12]:
description = df.values.tolist()

In [15]:
sanfrancisco_weather = pd.DataFrame({'Period':Period,
                    'Short Description':short_description,
                    'Temperature':temperature,
                   'Description':description})

In [16]:
sanfrancisco_weather

,Period,Short Description,Temperature,Description
0,Today,Mostly Sunnythen Sunnyand Breezy,High: 69 °F,"[Partly sunny, then gradually becoming sunny, ..."
1,Tonight,Mostly Clear,Low: 53 °F,"[Mostly clear, with a low around 53. West nort..."
2,Wednesday,Mostly Sunny,High: 68 °F,"[Mostly sunny, with a high near 68. Light west..."
3,WednesdayNight,Mostly Clear,Low: 54 °F,"[Mostly clear, with a low around 54. West wind..."
4,Thursday,Sunny,High: 74 °F,"[Sunny, with a high near 74. Light and variabl..."
5,ThursdayNight,Mostly Clear,Low: 55 °F,"[Mostly clear, with a low around 55.]"
6,Friday,Sunny,High: 76 °F,"[Sunny, with a high near 76.]"
7,FridayNight,Mostly Clear,Low: 56 °F,"[Mostly clear, with a low around 56.]"
8,Saturday,Sunny,High: 74 °F,"[Sunny, with a high near 74.]"

# 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.amazon.in/s?bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&qid=1632980924&rnid=1318502031&ref=lp_1389401031_nr_p_36_3'
request = requests.get(url)
print(request)
page = request.content
soup = BeautifulSoup(page)
prettify = soup.prettify()

<Response [200]>

In [3]:
product_name = []
Price =[]
image_url = []
avg_rating =[]

pages = list(range(1,225))
for page in pages:
    response = requests.get('https://www.amazon.in/s?i=electronics&bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&page={}&qid=1632812239&rnid=1318502031&ref=sr_pg_{}'.format(pages,pages)).text
    data = BeautifulSoup(response,'lxml')
    for i in soup.find_all('span',class_='a-size-base-plus a-color-base a-text-normal'):
        product_name.append(i.text)
    for i in soup.find_all('span',class_='a-price-whole'):
        Price.append(i.text)
    url = soup.find_all('div',class_='a-section aok-relative s-image-square-aspect')
    for div in url:
        image_url.append(div.find('img').attrs['src'])
    rating = soup.find_all('span',class_='a-icon-alt')
    for i in rating:
        avg_rating.append(i.text)
    n = 4
    del avg_rating[-n:]

In [5]:
import pandas as pd
Amazon_data = pd.DataFrame({'Product Name':product_name,
                    'Price':Price,
                    'Image Url':image_url,
                   'Average Rating':avg_rating})

In [6]:
Amazon_data

,Product Name,Price,Image Url,Average Rating
0,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...","13,999",https://m.media-amazon.com/images/I/810GQ7CWdD...,4.2 out of 5 stars
1,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...","11,499",https://m.media-amazon.com/images/I/71hEzQGO5q...,4.2 out of 5 stars
2,"Redmi Note 10 Pro Max (Dark Night, 6GB RAM, 12...","19,999",https://m.media-amazon.com/images/I/81Vpy0XrvF...,4.1 out of 5 stars
3,"Redmi Note 10S (Deep Sea Blue, 6GB RAM, 64GB S...","14,999",https://m.media-amazon.com/images/I/81B0HJigO-...,4.1 out of 5 stars
4,Redmi 9 Power (Mighty Black 4GB RAM 64GB Stora...,"11,499",https://m.media-amazon.com/images/I/71hEzQGO5q...,4.2 out of 5 stars
...,...,...,...,...
5371,"Redmi Note 10S (Frost White, 6GB RAM, 128GB) -...","16,499",https://m.media-amazon.com/images/I/81SJHWh-df...,4.1 out of 5 stars
5372,"Redmi 9 Power (Electric Green, 6GB RAM, 128GB ...","13,499",https://m.media-amazon.com/images/I/61EIaUqatT...,4.2 out of 5 stars
5373,"Redmi Note 10S (Cosmic Purple, 6GB RAM, 64 GB ...","14,999",https://m.media-amazon.com/images/I/81sZamLSPW...,4.1 out of 5 stars
5374,"Redmi Note 10 Pro (Vintage Bronze, 6GB RAM, 12...","17,999",https://m.media-amazon.com/images/I/81aQWPoGdO...,4.2 out of 5 stars
5375,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...","12,990",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.2 out of 5 stars

# 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://internshala.com/fresher-jobs'
request = requests.get(url)
print(request)
page = request.content
soup = BeautifulSoup(page)
prettify = soup.prettify()

<Response [200]>

In [3]:
job_title = []
company_name = []
container = []
space = []
ctc = []
apply_date = []
space = []
ctc_date = []

pages = list(range(1,9))
for page in pages:
    response = requests.get('https://internshala.com/fresher-jobs/page-{}'.format(pages)).text
    data2 = BeautifulSoup(response,'lxml')
    jobs = soup.find_all('div',class_='heading_4_5 profile')
    for i in jobs:
        job_title.append(i.text.replace('\n',''))

    company = soup.find_all('a',class_='link_display_like_text')
    for i in company:
        company_name.append(i.text.strip())
        
    cost = soup.find_all('div',class_='item_body')
    for i in cost:
        z = i.text.replace("\nStarts\xa0Immediately\n ",'')
        k = z.replace('\n','')
        n = k.strip()
        container.append(n)
        
for i in range(0,len(container)):
    if i%3:
        ctc_date.append(container[i])
    else:
        space.append(container[i])
            
for v in range(0,len(ctc_date)):
    if v%2:
        apply_date.append(ctc_date[v])
    else:
        ctc.append(ctc_date[v])
        
print(len(company_name))
print(len(job_title))
print(len(ctc))
print(len(apply_date))

320
320
320
320

In [5]:
import pandas as pd

fresher_job_listings = pd.DataFrame({'Job Title':job_title,
                                        'Company Name':company_name,
                                        'CTC':ctc,
                                    'Apply Date':apply_date})
fresher_job_listings

,Job Title,Company Name,CTC,Apply Date
0,Lead Generation Associate,CommVersion Solutions,3 - 6 LPA,27 Oct' 21
1,Business Development Associate,Web Assets,3 - 8 LPA,27 Oct' 21
2,Accounts And MIS Manager,Little Olive,3 - 3.2 LPA,27 Oct' 21
3,Junior Search Engine Optimization (SEO) Execut...,ICubes,3 LPA,27 Oct' 21
4,Junior Equity Research Analyst,Saurashtra Freight Private Limited,3 - 3.5 LPA,27 Oct' 21
5,Digital Marketing Associate,ActiveLoc,3 - 4 LPA,27 Oct' 21
6,Associate Consultant,Peer Hunt,3 - 5 LPA,27 Oct' 21
7,Software Developer,Vitra.ai,6.6 LPA,27 Oct' 21
8,Cluster Manager,Gigforce Private Limited,4 - 6 LPA,27 Oct' 21
9,Inside Sales Associate,Xobin,3.5 - 4.6 LPA,27 Oct' 21

# 10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.nobroker.in/flats-for-sale-in-navi_mumbai_mumbai'
request = requests.get(url)
print(request)
page = request.content
soup = BeautifulSoup(page)
prettify = soup.prettify()

<Response [200]>

In [3]:
house_title = []
location = []
area = []
EMI = []
Price = []
container = []
box = []

In [4]:
title = soup.find_all('h2',class_='heading-6 font-semi-bold nb__1AShY')
loc_ = soup.find_all('div',class_='nb__2CMjv')
land = soup.find_all('div',class_='nb__3oNyC')
emi = soup.find_all('div',class_='font-semi-bold heading-6')
price = soup.find_all("div.font-semi-bold.heading-6 > span")

for i in title:
    for j in i.find_all('span'):
        house_title.append(j.text)
print(len(house_title))
        
for i in loc_:
    location.append(i.text)
print(len(location))

for i in emi:
    container.append(i.text)
for i in range(0,len(container)):
    if i%3:
        box.append(container[i])
    else:
        area.append(container[i])
print(len(area))

for i in range(0,len(box)):
    if i%2:
        Price.append(box[i])
    else:
        EMI.append(box[i])
print(len(EMI))
print(len(Price))

10
10
10
10
10

In [6]:
import pandas as pd

house_details = pd.DataFrame({'House Title':house_title,
                                'Location':location,
                                'Area':area,
                                'EMI':EMI,
                                'Price':Price})
house_details

,House Title,Location,Area,EMI,Price
0,"1 BHK Flat For Sale In Nerul West, Nerul","Standalone Building, Tirupati palace, Sector 1...",430 sqft,"₹42,985/Month",₹75 Lacs
1,2 BHK Flat For Sale In Shakti Residency In S...,"Shakti Residency, Sector 5, Ulwe, Navi Mumbai,...","1,080 sqft","₹60,180/Month",₹1.05 Crores
2,2 BHK For Sale In Kendriya Vihar In Kharghar,"Kendriya Vihar Sector 11, Kharghar Navi Mumba...",900 sqft,"₹48,717/Month",₹85 Lacs
3,1 BHK Flat For Sale In Airoli,"Standalone Building, Sector 8, opposite Shree ...",650 sqft,"₹41,266/Month",₹72 Lacs
4,1 BHK Flat For Sale In Sai Kutir Chs Airoli ...,Near Ganesh visarjan Talav,625 sqft,"₹34,388/Month",₹60 Lacs
5,1 BHK Flat For Sale In Suman Chs In Nerul,"Nerul East, Shiravane, sector 21 near Royal p...",500 sqft,"₹41,839/Month",₹73 Lacs
6,2 BHK Apartment For Sale In Marathon Nexzone...,"Marathon Nexzone NPT Road, Near, NH 4B, Palas...",891 sqft,"₹39,546/Month",₹69 Lacs
7,3 BHK Flat For Sale In Sai Krupa Housing Soc...,"Near Apolo hospital, Sector 27","1,245 sqft",₹1.13 Lacs/Month,₹1.98 Crores
8,2 BHK Flat For Sale In Shreeji Dham Chs Ltd ...,"Rama Gosavi Marg,Shreeji Dham, Sector 7 Near M...","1,500 sqft",₹1.46 Lacs/Month,₹2.55 Crores
9,2 BHK Flat For Sale In Raghunath Vihar In Kh...,"near Raghunath vihar metro station , Kesar...","1,200 sqft","₹76,228/Month",₹1.33 Crores