In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [43]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

# inserting data as per the required job key:
search = driver.find_element_by_xpath("//input[@class='vector-search-box-input']")
search.send_keys('List of most-viewed YouTube videos/ in Wikipedia ')

# clicking on search:
serch_btn = driver.find_element_by_xpath("//input[@id='searchButton']").click()

# clicking on search:
click_ = driver.find_element_by_xpath("//div[@class = 'mw-search-result-heading']/a").click()


# empty lists
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []


# scraping rank of the song
rank = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]")
for i in rank:
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append("-")

# scraping name of the song
name = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]")
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append("-")

# scraping the name of the artist
artist= driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]")
for i in artist:
    try:
        Artist.append(i.text)
    except NoSuchElementException:
        Artist.append('-')

# scraping date of posting
date= driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
for i in date:
    try:
        Upload_date.append(i.text)
    except NoSuchElementException:
        Upload_date.append('-')

# scraping the number of views
view= driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
for i in view:
    try:
        Views.append(i.text)
    except NoSuchElementException:
        Views.append('-')

        
        
        
# creating dataframe:
df = pd.DataFrame({})
df['Rank'] = Rank
df['Name'] = Name
df['Artist'] = Artist
df['Upload_date'] = Upload_date
df['Views'] = Views
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.53
1,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.59
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.82
3,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.50
4,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.30
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.57
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.52
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.46
8,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.34
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014",4.25
10,11.,"""Gangnam Style""[36]",Psy,"July 15, 2012",4.23
11,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.66
12,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.57
13,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.48
14,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.45
15,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.42
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.34
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.31
18,19.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.16
19,20.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.16
20,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.15
21,22.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.11
22,23.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.11
23,24.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.11
24,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.10
25,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.06
26,27.,"""Mi Gente""[53]",J Balvin,"June 29, 2017",2.99
27,28.,"""Perfect""[54]",Ed Sheeran,"November 9, 2017",2.99
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.97
29,30.,"""Hello""[56]",Adele,"October 22, 2015",2.90

In [44]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.

In [6]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.bcci.tv/")

# clicking on search:
international = driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]").click()
fixtures = driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()
time.sleep(3)

In [7]:
matches_in= driver.find_element_by_xpath("//*[@id='TestAlexFilter']").click()
odi= driver.find_element_by_xpath("//*[@id='TestAlexFilter']/div/ul/li[4]/span").click()
time.sleep(3)

In [8]:
feb_22 = driver.find_element_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a[1]").click()
view = driver.find_element_by_xpath("/html/body/div[2]/div/header/div/div[1]/div/p/a").click()
fix = driver.find_element_by_xpath('/html/body/div[4]/div/div/div[1]/div/nav/ul/li[2]/a').click()

In [12]:
# empty lists
Match_title = []
Place = []
Series = []
Date = []
Time = []

        
# scraping necessary links        
href = []
lnks1=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a")
for lnk in lnks1:
    href.append(lnk.get_attribute('href'))
    
# scraping the data
for i in href:
    driver.get(i)
    driver.implicitly_wait(5)
    
    try:
        title = driver.find_element_by_xpath("/html/body/div[2]/div/header/div/div[1]/div/p/span")
        Match_title.append(title.text)
    except NoSuchElementException:
        Match_title.append('NaN')
        
    try:
        series = driver.find_element_by_xpath("//*[@id='scorecard']/section[3]/div/ul/li[1]/span[2]")
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('NaN')
        
        
    try:
        date = driver.find_element_by_xpath("/html/body/div[2]/div/header/div/div[2]/div/div[4]/strong")
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('NaN')
        
    try:
        place = driver.find_element_by_xpath("//*[@id='scorecard']/section[3]/div/ul/li[3]/span[2]")
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('NaN')
        
        
    try:
        time = driver.find_element_by_xpath("/html/body/div[2]/div/header/div/div[2]/div/div[1]/span")
        Time.append(time.text)
    except NoSuchElementException:
        Time.append('NaN')
 



 # creating dataframe
df = pd.DataFrame({})
df['Match_title'] = Match_title
df['Series'] = Series
df['Place'] = Place
df['Date'] = Date
df['Time'] = Time
df

,Match_title,Series,Place,Date,Time
0,1ST ODI,India v West Indies 2022,"Narendra Modi Stadium, Ahmedabad",Sunday 6 February,1:00pm IST
1,2ND ODI,India v West Indies 2022,"Sawai Mansingh Stadium, Jaipur",Wednesday 9 February,1:00pm IST
2,3RD ODI,India v West Indies 2022,"Eden Gardens, Kolkata",Saturday 12 February,1:00pm IST
3,1ST T20I,India v West Indies 2022,"Barabati Stadium, Cuttack",Tuesday 15 February,7:00pm IST
4,2ND T20I,India v West Indies 2022,"ACA-VDCA Stadium, Visakhapatnam",Friday 18 February,7:00pm IST
5,3RD T20I,India v West Indies 2022,"Greenfield Stadium, Thiruvananthapuram",Sunday 20 February,7:00pm IST

In [13]:
driver.close()

3. Scrape the details of selenium exception from guru99.com.

In [28]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.guru99.com/")
click1 = driver.find_element_by_xpath("//*[@id='main-header']/div/div/div/div/div/div/div/div[2]/div[2]/div/button").click()

# inserting data as per the required job key:
search = driver.find_element_by_xpath("//*[@id='search-drawer']/div[2]/div[2]/form/label/input")
search.send_keys('selenium exception handling')
click_ = driver.find_element_by_xpath("//*[@id='search-drawer']/div[2]/div[2]/form/input").click()

# click on the desired link
link = driver.find_element_by_xpath("//*[@id='___gcse_0']/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a").click()


# empty lists
Name = []
Description = []


name = driver.find_elements_by_xpath("//*[@id='post-1953']/div/div/table/tbody/tr/td[1]")
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('NaN')
    

desc = driver.find_elements_by_xpath("//*[@id='post-1953']/div/div/table/tbody/tr/td[2]")
for i in desc:
    try:
        Description.append(i.text)
    except NoSuchElementException:
        Description.append('NaN')
    
    
df = pd.DataFrame({})
df['Name'] = Name
df['Description'] = Description
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [29]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [45]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("http://statisticstimes.com/")

eco = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button").click()
india = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]").click()

In [46]:
#click on the link
click1 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()


# empty lists
Rank = []
State = []
GSDP_19_20 = []
GSDP18_19 = []
Share18_19 = []
GDP_billion = []

# scraping rank
rank = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]")
for i in rank:
    try:
        Rank.append(i.text)
    except NoSuchElementException:
        Rank.append('NaN')

# scraping state
state = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
for i in state:
    try:
        State.append(i.text)
    except NoSuchElementException:
        State.append('NaN')
        
# scraping GSDP_19_20 
gsdp1 = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
for i in gsdp1:
    try:
        GSDP_19_20.append(i.text)
    except NoSuchElementException:
        GSDP_19_20.append('NaN')
        
# scraping GSDP_18_19
gsdp2 = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in gsdp2:
    try:
        GSDP18_19.append(i.text)
    except NoSuchElementException:
        GSDP18_19.append('NaN')
        
# scraping Share18_19
share = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in share:
    try:
        Share18_19.append(i.text)
    except NoSuchElementException:
        Share18_19.append('NaN')
        
# scraping GDP_billion
gdp = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    try:
        GDP_billion.append(i.text)
    except NoSuchElementException:
        GDP_billion.append('NaN')
        
        
# creating dataframe
df = pd.DataFrame({})
df['Rank'] = Rank
df['State'] = State
df['GSDP at current price (19-20)'] = GSDP_19_20
df['GSDP at current price (18-19)'] = GSDP18_19
df['Share(18-19)'] = Share18_19
df['GDP($ billion)'] = GDP_billion
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [47]:
driver.close()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [28]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://github.com/")
time.sleep(3)

In [29]:
# click on tab
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()
trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a").click()

In [30]:
#empty lists
Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []



# scraping necessary links        
href = []
lnks1=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
for lnk in lnks1:
    href.append(lnk.get_attribute('href'))
    
# scraping the data    
for i in href:
    driver.get(i)
    driver.implicitly_wait(10)
    try:
        title = driver.find_element_by_xpath("//*[@id='repository-container-header']/div[1]/div/h1/span[1]/a")
        Repository_title.append(title.text)
    except NoSuchElementException:
        Repository_title.append("NaN")
        
    try:
        desc = driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[1]/div/p")
        Repository_description.append(desc.text)
    except NoSuchElementException:
        Repository_description.append("NaN")
        
    try:
        count = driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[4]/div/h2/a/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append("NaN")
        

    try:
        lang = driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[5]/div/ul")
        Language_used.append(lang.text.replace('\n',','))
    except NoSuchElementException:
        Language_used.append("NaN")
        
        
        

# creating dataframe
df = pd.DataFrame({})
df['Repository_title'] = Repository_title
df['Repository_description'] = Repository_description
df['Contributors_count'] = Contributors_count
df['Language_used'] = Language_used
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,taichi-dev,Parallel programming for everyone.,110,"C++,68.7%,Python,28.4%,C,1.0%,CMake,0.7%,Cuda,..."
1,WorkerLivesMatter,NaN,NaN,"ZhangNanBei 秃头才能变强,WorkerLivesMatter"
2,schollz,Easily and securely send things from one compu...,4,
3,modern-js-dev,The meta-framework suite designed from scratch...,NaN,
4,edeng23,Automated cryptocurrency trading bot,NaN,
5,kubesphere,The container platform tailored for Kubernetes...,2,
6,mli,深度学习经典、新论文逐段精读,NaN,NaN
7,lihaoyun6,A VM launcher for Parallels Desktop,NaN,"Swift,83.6%,Shell,9.5%,Rich Text Format,6.9%"
8,acidanthera,NaN,NaN,
9,denysvitali,NaN,NaN,"denysvitali Denys Vitali,stefanb Štefan Baeble..."
10,LSPosed,Integrate Magisk root and OpenGApps into WSA (...,NaN,NaN
11,github,GitHub resources and information for the devel...,NaN,NaN
12,microsoft,"10 Weeks, 20 Lessons, Data Science for All!",NaN,
13,microsoft,Windows system utilities to maximize productivity,251,"C#,50.7%,C++,47.7%,Other,1.6%"
14,swc-project,swc is a super-fast compiler written in rust; ...,1.5k,
15,vpncn,2021中国翻墙软件VPN推荐以及科学上网避坑，稳定好用。对比SSR机场、蓝灯、V2ray、...,NaN,NaN
16,arco-design,A comprehensive React UI components library,6,
17,notifirehq,🚀 The open-source notification infrastructure ...,8,"TypeScript,87.4%,Raku,5.8%,JavaScript,2.8%,Per..."
18,Tencent,✨ A Markdown Editor,NaN,"lyngai,jiawei686,sunsonliu sunsonliu,humyfred ..."
19,OpenIMSDK,OpenIM：由前微信技术专家打造的基于 Go 实现的即时通讯（IM）项目，从服务端到客户端...,NaN,
20,kon9chunkit,🇨🇳 GitHub中文排行榜，帮助你发现高分优秀中文项目、更高效地吸收国人的优秀经验成果；榜...,NaN,"Java,100.0%"
21,waydabber,Software Dummy Display Adapter for Apple Silic...,,NaN
22,diem,Diem’s mission is to build a trusted and innov...,NaN,
23,priyankavergadia,If you are looking to become a Google Cloud En...,NaN,NaN
24,juicedata,JuiceFS is a distributed POSIX file system bui...,37,"Go,81.1%,Java,16.2%,C,2.3%,Other,0.4%"

In [25]:
driver.close()

6. Scrape the details of top 100 songs on billboard.com.

In [31]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.billboard.com/")
time.sleep(3)

In [32]:
# click on tab
hot_100 = driver.find_element_by_xpath("//*[@id='root']/div[2]/div[2]/nav/ul/li[3]/a").click()

In [33]:
# empty lists
Song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []


# scraping song name
name = driver.find_elements_by_xpath("//*[@id='charts']/div/div/div/ol/li/button/span[2]/span[1]")
for i in name:
    try:
        Song_name.append(i.text)
    except NoSuchElementException:
        Song_name.append('NaN')

# scraping artist name
art_name = driver.find_elements_by_xpath("//*[@id='charts']/div/div/div/ol/li/button/span[2]/span[2]")
for i in art_name:
    try:
        Artist_name.append(i.text)
    except NoSuchElementException:
        Artist_name.append('NaN')
        
# scraping last week rank 
last_rank = driver.find_elements_by_xpath("//*[@id='charts']/div/div/div/ol/li/button/div/div[2]")
for i in last_rank:
    try:
        Last_week_rank.append(i.text)
    except NoSuchElementException:
        Last_week_rank.append('NaN')
        
# scraping peak rank
p_rank = driver.find_elements_by_xpath("//*[@id='charts']/div/div/div/ol/li/button/div/div[3]")
for i in p_rank:
    try:
        Peak_rank.append(i.text)
    except NoSuchElementException:
        Peak_rank.append('NaN')
        
# scraping weeks on board
board= driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in board:
    try:
        Weeks_on_board.append(i.text)
    except NoSuchElementException:
        Weeks_on_board.append('NaN')
        

        
        
# creating dataframe
df = pd.DataFrame({})
df['Song_name'] = Song_name
df['Artist_name'] = Artist_name
df['Last_week_rank'] = Last_week_rank
df['Peak_rank'] = Peak_rank
df['Weeks_on_board'] = Weeks_on_board
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Easy On Me,Adele,68,1,2
1,Stay,The Kid LAROI & Justin Bieber,1,15,15
2,Industry Baby,Lil Nas X & Jack Harlow,1,13,13
3,Fancy Like,Walker Hayes,3,18,18
4,Bad Habits,Ed Sheeran,2,17,17
...,...,...,...,...,...
95,Who's In Your Head,Jonas Brothers,95,2,2
96,Woo Baby,Pop Smoke Featuring Chris Brown,64,3,3
97,Flocky Flocky,Don Toliver Featuring Travis Scott,53,2,2
98,Like A Lady,Lady A,90,2,2
99,Just About Over You,Priscilla Block,97,2,2

In [34]:
driver.close()

7. Scrape the details of Data science recruiters from naukri.com

In [39]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.naukri.com/")
time.sleep(3)

In [40]:
# closing the 3 popup windows
for _ in range(3):
    driver.switch_to.window(driver.window_handles[-1])
    time.sleep(1)
    driver.close()
driver.switch_to.window(driver.window_handles[-1])

time.sleep(1)

In [ ]:
# search 
search = driver.find_element_by_xpath("//*[@id='qsb-keyword-sugg']")
search.send_keys('Data Scientist')

click = driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section/div/form/div[3]/button").click()
time.sleep(3)

In [42]:
# click on chatbot
chat_bar = driver.find_element_by_xpath("//div[@class='crossIcon chatBot chatBot-ic-cross']").click()

In [43]:
# scraping necessary links        
href = []
lnks=driver.find_elements_by_xpath("//*[@id='root']/div/div/section/div/article/div/div/a")
for lnk in lnks:
    href.append(lnk.get_attribute('href'))
    
# empty list
Name = []
Designation = []
Company = []
Skills = []
Location = []


for i in href:
    driver.get(i)
    driver.implicitly_wait(5)
    # scraping the name
    try:
        name = driver.find_element_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[1]/div[1]/div[1]/header/h1")
        Name.append(name.text)
    except NoSuchElementException:
        Name.append('-')
    
    # scraping the designation
    try:
        desig = driver.find_element_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[3]/div[1]")
        Designation.append(desig.text)
    except NoSuchElementException:
        Designation.append('-')
    
    # scraping the company name
    try:
        comp = driver.find_element_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[1]/div[1]/div[1]/div/a[1]")
        Company.append(comp.text)
    except NoSuchElementException:
        Company.append('-')
    
    # scraping the skills
    try:
        skill = driver.find_element_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[2]/div[4]/div[2]/a")
        Skills.append(skill.text)
    except NoSuchElementException:
        Skills.append('-')
    
    # scraping the location
    try:
        loc = driver.find_element_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[1]/div[1]/div[2]/div[3]/span/a")
        Location.append(loc.text)
    except NoSuchElementException:
        Location.append('-')

        
        
        
# creating dataframe
df = pd.DataFrame({})
df['Name'] = Name
df['Designation'] = Designation
df['Company'] = Company
df['Skills they hire for'] = Skills
df['Location'] = Location
df

,Name,Designation,Company,Skills they hire for,Location
0,Senior Data Scientist,We are a leading health technology company foc...,Philips India Limited,Health insurance,Chennai
1,Data Scientist,Think-I offers a range of pharmaceutical resea...,Think i,Data Science,Kochi/Cochin
2,Senior Data Scientist | Fortune 500 Supermarke...,,TALENT500 TECH (INDIA) PRIVATE LIMITED,Big Data,Bangalore/Bengaluru
3,Lead Data Scientist / Senior Data Scientist,EMBLAZE was founded in 2013 with the motive to...,Emblaze Solutions,Azure,Mumbai
4,"Lead Data Scientist, Presales",Moveworks is a cloud-based AI platform purpose...,Moveworks,Usage,Bangalore/Bengaluru
5,Senior Data Scientist,Leading Client,Easy Recruit,Data Science,Bangalore/Bengaluru
6,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Wrackle Technologies Pvt Ltd,Data Science,Bangalore/Bengaluru
7,Data Scientist - Recommender Systems,Tickled Media started in 2009 as a digital pla...,Tickled Media,Recommender Systems,Mumbai
8,Data Scientist (Risk Analytics - Derivatives) ...,"J.P. Morgan is a leader in financial services,...",JPMorgan Services India Pvt. Ltd,Artificial Intelligence,Mumbai (All Areas)
9,Senior / Lead Data Scientist,BukuWarung is a Y-Combinator backed technology...,Bukuwarung,Data Science,Bangalore/Bengaluru
10,-,-,-,-,-
11,Senior Data Scientist,,TROR PRIVATE LIMITED,Data Science,Hyderabad/Secunderabad
12,-,-,-,-,-
13,-,-,-,-,-
14,Senior Data Scientist - Marketing,Tide Software,Tide Software,Data Science,Hyderabad/Secunderabad
15,Lead Data Scientist,"At ResMed (NYSE: RMD, ASX: RMD) we pioneer inn...",ResMed,Data management,Hyderabad/Secunderabad
16,Co-Founder - Principal Data Scientist/Senior D...,We are an AI Health Tech Innovation Global com...,Benovymed Healthcare Private Limited,Data Science,Gurgaon/Gurugram
17,-,-,-,-,-
18,Associate Data Scientist,Shell India Markets Private Limited,Shell,Data Science,Chennai
19,Machine Learning Engineer / Data Scientist,,Alia Premedia Services Pvt. Ltd,Cloud,Remote

In [ ]:
driver.close()

8. Scrape the details of Highest selling novels

In [10]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
time.sleep(3)



#empity lists
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []


# ecraping the top 100 book name

name = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in name:
    try:
        Book_name.append(i.text)
    except NoSuchElementException:
        Book_name.append('-')

# ecraping the author name

a_name = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in a_name:
    try:
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append("-")

# ecraping the volume sold

vol_sold = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in vol_sold:
    try:
        Volumes_sold.append(i.text)
    except NoSuchElementException:
        Volumes_sold.append('-')

# ecraping the publisher name

pub = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in pub:
    try:
        Publisher.append(i.text)
    except NoSuchElementException:
        Publisher.append('-')

# ecraping the genre

genre = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')
    
    
    
    
    
# creating data frame
Books_detail = pd.DataFrame({})
Books_detail['Book_name'] = Book_name
Books_detail['Author_name'] = Author_name
Books_detail['Volumes_sold'] = Volumes_sold
Books_detail['Publisher'] = Publisher
Books_detail['Genre'] = Genre
Books_detail

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [11]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com

In [15]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(3)


# empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []



# scraping the name of the movies
name = driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/h3/a")
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')
        
# scraping the year span
year = driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/h3/span[2]")
for i in year:
    try:
        Year_span.append(i.text)
    except NoSuchElementException:
        Year_span.append("-")
        
# scraping the genre
genre = driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/p[1]/span[5]")
for i in genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-')
        
# scraping run time
time = driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/p[1]/span[3]")
for i in time:
    try:
        Run_time.append(i.text)
    except NoSuchElementException:
        Run_time.append('-')
        
# scraping ratings
rat = driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/div[1]/div[1]/span[2]")
for i in rat:
    try:
        Ratings.append(i.text)
    except NoSuchElementException:
        Ratings.append('-')
        
# scraping votes
vote = driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div/p[4]/span[2]")
for i in vote:
    try:
        Votes.append(i.text)
    except NoSuchElementException:
        Votes.append('-')
        
        

# creating dataframe
movie_list = pd.DataFrame({})
movie_list['Name'] = Name
movie_list['Year_span'] = Year_span
movie_list['Genre'] = Genre
movie_list['Run_time'] = Run_time
movie_list['Ratings'] = Ratings
movie_list['Votes'] = Votes
movie_list

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,893,366"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"924,932"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"909,761"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,248"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,626"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,227"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,069"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"179,061"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,496"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"210,096"

In [66]:
driver.close()

10. Details of Datasets from UCI machine learning repositories

In [6]:
# Requesting Chrome driver to access the link:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://archive.ics.uci.edu/")
time.sleep(3)
# click on view all
view_all = driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a").click()
time.sleep(5)



# empty lists
Dataset_name = []
dtype = []
Data_type = []
Task_dummy = []
Task = []
Attribute_type_dummy = []
Attribute_type = []
No_of_instances_dummy = []
No_of_instances = []
No_of_attribute_dummy = []
No_of_attribute = []
year_dummy = []
Year = []



# scraping the name of the dataset
name = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td/p/b/a")
for i in name:
    try:
        Dataset_name.append(i.text)
    except NoSuchElementException:
        Dataset_name.append('-')

# scraping the types of dataset
type_ = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in type_:
    try:
        dtype.append(i.text)
    except NoSuchElementException:
        dtype.append('-')

for z in dtype:
    if z == 'Data Types':
        continue
    Data_type.append(z)

# scraping the task of dataset
task = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in task:
    try:
        Task_dummy.append(i.text)
    except NoSuchElementException:
        Task_dummy.append('-')
for z in Task_dummy:
    if z == 'Default Task':
        continue
    Task.append(z)

# scraping the attribute type in dataset
attribute = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in attribute:
    try:
        Attribute_type_dummy.append(i.text)
    except NoSuchElementException:
        Attribute_type_dummy.append('-')
for z in Attribute_type_dummy:
    if z == 'Attribute Types':
        continue
    Attribute_type.append(z)

# scraping the number of instances in dataset
instances = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in instances:
    try:
        No_of_instances_dummy.append(i.text)
    except NoSuchElementException:
        No_of_instances_dummy.append('-')
for z in No_of_instances_dummy:
    if z == '# Instances':
        continue
    No_of_instances.append(z)
    
# scraping the number of attributes in dataset    
n_attrib = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in n_attrib:
    try:
        No_of_attribute_dummy.append(i.text)
    except NoSuchElementException:
        No_of_attribute_dummy.append('-')
for z in No_of_attribute_dummy:
    if z == '# Attributes':
        continue
    No_of_attribute.append(z)      
    
# scraping the years of dataset    
year = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in year:
    try:
        year_dummy.append(i.text)
    except NoSuchElementException:
        year_dummy.append('-')
for z in year_dummy:
    if z == 'Year':
        continue
    Year.append(z)

In [7]:
uci = pd.DataFrame({})
uci ['Dataset_name'] = Dataset_name
uci['Data_type'] = Data_type
uci['Task'] = Task
uci['Attribute_type'] = Attribute_type
uci['No_of_instances'] = No_of_instances
uci['No_of_attribute'] = No_of_attribute
uci['Year'] = Year
uci

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [8]:
driver.close()